<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add New Restaurant</title>
  </head>
  <body>
    <h1>Add a New Restaurant</h1>
    <form action="/restaurants" method="POST">
      <label>Name:</label>
      <input type="text" name="name" required /><br /><br />

      <label>Phone:</label>
      <input type="text" name="phone" /><br /><br />

      <label>Street:</label>
      <input type="text" name="street" /><br /><br />

      <label>City:</label>
      <input type="text" name="city" /><br /><br />

      <label>Country:</label>
      <input type="text" name="country" /><br /><br />

      <label>Opening Hours:</label>
      <input type="text" name="opening_hours" /><br /><br />

      <label>Description:</label>
      <textarea name="description" rows="4" cols="50"></textarea><br /><br />

      <button type="submit">Add Restaurant</button>
    </form>
  </body>
</html>
